.About{
    background-image: url(/images/cool\ pic.jpg);
    height: 700px;
    padding: 100px;
    text-align: center;
    color: black;
}
img{
    float: left;
}
.how-sec{
    background-image: url(/images/ghana-1.jpg);
    height: 700px;
    padding: 100px;
}
.how{
    padding: 10px;
    text-align: center;
    color: blueviolet;
    padding: 10px;
}
.col{
    height: 400px;
    padding: 30px;
}