*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(/images/ghana.jpg);
}
.header{
    margin-top: 10px;
}
.btn{
    color: red;
    border-color: azure;
}
.display_{
    text-align: center;
}