header{
    background-color: white);
    height: 40px;
    width: 90%;
  }
  nav{
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    background-color: #ffffff;
  }

  nav .logo p{
    align-items: center;
    color: rgb(226, 162, 43);
    font-weight: bold;
    font-size: large;
    text-transform: uppercase;
    text-indent: 80px;
  }

  nav ul{
    display: flex;
    list-style: none;
  }
  
  nav ul li a{
    text-decoration: none;
    margin: 20px;
    font-size: 15;
    position: relative;
    text-transform: uppercase;
    }
.About{
    background-image: url(/images/cool\ pic.jpg);
    height: 700px;
    padding: 100px;
    text-align: center;
    color: black;
    font-size: 19px;
    font-style:normal;
}
button{
  background-color: grey;
  font-weight: 800;
}
img{
    float: left;
}
.how-sec{
    background-image: url(/images/ghana-1.jpg);
    height: 700px;
    padding: 100px;
}
.how{
    padding: 10px;
    text-align: center;
    color: blueviolet;
    padding: 10px;
}
.col{
    height: 400px;
    padding: 30px;
    text-align: center;
    align-content: center;
}