#date_error {
    color: red;
    background-color: pink;
    width: 150px;
    display: none;
}

#month_error {
    color: red;
    text-align: center;
    background-color: pink;
    width: 150px;
    display: none;
}

h1 {
    text-align: center;
    margin-top: 30px;
}

h2 {
    text-align: center;
}
.container {
    background-color:blue;
    color: white;
    width: 600px;
    height: 500px;
    margin-top: 0px;
    text-align: center;
}

.container .day {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}

.container .month {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}

.container .year {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}

.container .gender {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}

footer{
    padding: 10px;
}